.navbar {
    width: 100%;
    position: relative;
}

.navbar_box__1nb {
    width: 100%;
    padding: 15px 20px;
    background-color: #fff;
}

.navbar_container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .brand img{
    width: 200px;
} */

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.socials a {
    background-color: var(--midnight);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a img {
    width: 24px;
}

.navbar_box__2nb {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--midnight);
    transition: position 0.3s ease, top 0.3s ease;
}

.navbar_box__2nb.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar_navlinks {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar_navlinks span {
    color: var(--stone);
    font-size: 24px;
    font-weight: 500;
    position: relative;
}

.dropdown {
    position: relative;
    cursor: default;
}

.navbar_navlinks span::after {
    content: '';
    background-color: var(--sea_storm);
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 5px;
    transition: background-color 0.3s ease, bottom 0.3s ease, width 0.3s ease;
    z-index: 1;
}

.navbar_navlinks span:hover::after {
    width: 45px;
    bottom: -10px;
}

.navbar_search a {
    background-color: var(--charcoal);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_search a img {
    width: 18px;
}

.menu_button {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu_button img {
    width: 30px;
}

.mobile_menu {
    display: none;
}

.mobile_dropdown {
    display: flex;
    flex-direction: column;
}

.mobile_dropdown span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile_dropdown span img {
    height: 10px;
}

.mobile_dropdown_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

/* Media Queries */

@media(max-width: 720px) {
    .brand img {
        width: 180px;
    }

    .socials {
        gap: 18px;
    }

    .socials a {
        width: 40px;
        height: 40px;
    }

    .socials a img {
        width: 18px;
    }

    .menu_button {
        display: flex;
    }

    .navbar_navlinks {
        display: none;
    }

    .mobile_menu {
        display: block;
        position: absolute;
        left: -100%;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #2b2d32d5;
        transition: .3s ease-in-out;
    }

    .mobile_navlinks {
        background-color: var(--midnight);
        height: 100%;
        width: 70%;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .mobile_navlinks span {
        color: var(--stone);
        font-size: 22px;
    }

    .close_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        background-color: transparent;
        border: none;
        margin-bottom: 40px;
    }

    .close_button img {
        width: 20px;
    }
}

@media(max-width: 390px) {
    .brand img {
        width: 140px;
    }

    .socials {
        gap: 16px;
    }

    .socials a {
        width: 36px;
        height: 36px;
    }

    .socials a img {
        width: 16px;
    }
}

@media(max-width: 330px) {
    .navbar_box__1nb>.navbar_container {
        flex-direction: column;
    }
}