@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

:root {
  --snow: #F4F4F4;
  --stone: #ABABAD;
  --charcoal: #1B1B1B;
  --midnight: #2B2D32;
  --sea_storm: #6DA9E4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 3000px;
}